<template name="taxSettingsPanel">
  <div class="panel panel-default panel-tax-settings">
    <div class="panel-heading">
      {{#autoForm collection=Collections.Accounts schema=accountsSchema doc=account type="update" id="tax-settgins-form"}}
        <div class="panel-body">
          {{>afQuickField name='taxSettings.exemptCode' class='form-control'}}
        </div>
        <div class="panel-body">
          {{> afQuickField name="taxSettings.customerUsageType" type="select" options=entityCodes }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      {{/autoForm}}
    </div>
  </div>
</template>
